In [89]:
from matplotlib.pyplot import *
import numpy as np
import pandas as pd

In [90]:
thickness = np.array([1/16, 3/32, 1/8, 5/32, 3/16, 1/4, 3/8, 1/2, 3/4, 1, 1.25, 1.5, 2])
price = np.array([12.69, 14.49, 15.98, 17.52, 19.89, 24.06, 30.33, 35.02, 49.77, 65.75, 48.64, 49.12, 66.84])

In [91]:
# Linear Regression
m, b = np.polyfit(thickness, price, 1)

In [ ]:
# figure(1)
scatter(thickness, price)
plot(thickness, m*thickness+b)
# show()

In [93]:
rho = 222.3005/27787.5645
h = 1001/(rho*8751.9888) / 25.4
n = (h/thickness).astype(int)

In [94]:
weight = thickness*25.4 * n * 8751.9888 * rho

In [95]:
h

0.5628642322899625

In [100]:
df = pd.DataFrame(np.array([thickness, thickness*25.4, price, n, weight, n*price]).T, columns = ["Plate Thickness (in)", "Plate Thickness (mm)", "Plate Price", "Plates Required", "Weight Possible", "Total Price"])
df

,Plate Thickness (in),Plate Thickness (mm),Plate Price,Plates Required,Weight Possible,Total Price
0,0.06250,1.58750,12.69,9.0,1000.352248,114.21
1,0.09375,2.38125,14.49,6.0,1000.352248,86.94
2,0.12500,3.17500,15.98,4.0,889.201998,63.92
3,0.15625,3.96875,17.52,3.0,833.626873,52.56
4,0.18750,4.76250,19.89,3.0,1000.352248,59.67
5,0.25000,6.35000,24.06,2.0,889.201998,48.12
6,0.37500,9.52500,30.33,1.0,666.901499,30.33
7,0.50000,12.70000,35.02,1.0,889.201998,35.02
8,0.75000,19.05000,49.77,0.0,0.000000,0.00
9,1.00000,25.40000,65.75,0.0,0.000000,0.00
10,1.25000,31.75000,48.64,0.0,0.000000,0.00
11,1.50000,38.10000,49.12,0.0,0.000000,0.00
12,2.00000,50.80000,66.84,0.0,0.000000,0.00